<main class="space-y-4">
  <!-- heading -->
  <section id="heading" class="space-y-2">
    <ngx-skeleton-loader
      [theme]="{ width: '400px', height: '32px' }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{ height: '40px' }"></ngx-skeleton-loader>
  </section>

  <!-- top section -->
  <section
    id="top content"
    class="md:flex-row md:flex-wrap flex flex-col space-y-4 md:space-y-0 md:gap-6 lg:justify-between lg:gap-0"
  >
    <!-- account info card opening  -->
    <div class="md:w-[312px] md:h-[312px] border">
      <div class="">
        <div class="p-6 h-[52px] border-b flex items-center">
          <ngx-skeleton-loader
            [theme]="{ width: '150px', height: '4px' }"
          ></ngx-skeleton-loader>
        </div>
        <div class="space-y-2 pt-4 p-4">
          <!-- profile -->
          <div class="flex">
            <ngx-skeleton-loader
              appearance="circle"
              [theme]="{ width: '48px', height: '48px' }"
            />
            <div class="flex flex-col">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ height: '20px', width: '197.13px' }"
              />
              <ngx-skeleton-loader
                count="1"
                [theme]="{ height: '20px', width: '197.13px' }"
              />
            </div>
          </div>
          <!-- info email and others -->
          <div>
            <div class="space-x-2">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ hieght: '4px' }"
              ></ngx-skeleton-loader>
            </div>
            <div class="space-x-2">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ hieght: '4px' }"
              ></ngx-skeleton-loader>
            </div>
            <div class="space-x-2">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ hieght: '4px' }"
              ></ngx-skeleton-loader>
            </div>
          </div>
          <!-- edit account button -->
          <div class="w-[155px]">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                height: '20px',
                width: '100px',
                'border-radius': '4px'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
    <!-- /account info card closed -->

    <!-- billind address opening  -->
    <div class="md:w-[312px] md:h-[312px] border">
      <div class="">
        <div class="p-6 h-[52px] border-b flex items-center">
          <ngx-skeleton-loader
            [theme]="{ width: '150px', height: '4px' }"
          ></ngx-skeleton-loader>
        </div>
        <div class="space-y-2 pt-4 p-4">
          <!-- profile -->
          <div class="flex">
            <div class="flex flex-col">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ height: '20px', width: '197.13px' }"
              />
              <ngx-skeleton-loader
                count="1"
                [theme]="{ height: '20px', width: '197.13px' }"
              />
            </div>
          </div>
          <!-- info email and others -->
          <div>
            <div class="space-x-2">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ hieght: '4px' }"
              ></ngx-skeleton-loader>
            </div>
            <div class="space-x-2">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ hieght: '4px' }"
              ></ngx-skeleton-loader>
            </div>
            <div class="space-x-2">
              <ngx-skeleton-loader
                count="1"
                [theme]="{ hieght: '4px' }"
              ></ngx-skeleton-loader>
            </div>
          </div>
          <!-- edit account button -->
          <div class="w-[155px]">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                height: '20px',
                width: '100px',
                'border-radius': '4px'
              }"
            ></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>

    <!-- closed billing address card -->

    <!-- fun fact section opening -->
    <div class="md:w-[312px] md:h-[312px] space-y-6">
      <!-- total orders card -->
      <div class="h-[88px] p-4 flex space-x-4 bg-[#EAF6FE]">
        <ngx-skeleton-loader
          count="1"
          [theme]="{ height: '56px', width: '56px' }"
        ></ngx-skeleton-loader>

        <div class="flex flex-col">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '20px', width: '85px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '14px', width: '100px' }"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <!-- pending orders card -->
      <div class="h-[88px] p-4 flex space-x-4 bg-[#FFF3EB]">
        <ngx-skeleton-loader
          count="1"
          [theme]="{ height: '56px', width: '56px' }"
        ></ngx-skeleton-loader>

        <div class="flex flex-col">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '20px', width: '85px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '14px', width: '100px' }"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <!-- completed orders card -->
      <div class="h-[88px] p-4 flex space-x-4 bg-[#EAF7E9]">
        <ngx-skeleton-loader
          count="1"
          [theme]="{ height: '56px', width: '56px' }"
        ></ngx-skeleton-loader>

        <div class="flex flex-col">
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '20px', width: '85px' }"
          ></ngx-skeleton-loader>
          <ngx-skeleton-loader
            count="1"
            [theme]="{ height: '14px', width: '100px' }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <!-- //// fun fact closing -->
  </section>
  <!--  -->
</main>
