<div class="py-4 flex space-x-6 text-sm relative">
  <div
    routerLink="shop"
    routerLinkActive="active"
    class="flex text-gray-600 cursor-pointer space-x-2 items-center"
  >
    <i class="pi pi-shop" style="font-size: 20px"></i>
    <p>Shop</p>
  </div>

  <div
    routerLink="compare"
    routerLinkActive="active"
    class="flex text-gray-600 space-x-2 items-center cursor-pointer"
  >
    <i class="pi pi-sync" style="font-size: 20px"></i>
    <p>Compare</p>
  </div>
  <div class="flex text-gray-600 space-x-2 items-center cursor-not-allowed">
    <i class="pi pi-headphones" style="font-size: 20px"></i>
    <p>Customer Support</p>
  </div>
  <div class="flex text-gray-600 space-x-2 items-center cursor-not-allowed">
    <i class="pi-info-circle pi" style="font-size: 20px"></i>
    <p>Need Help</p>
  </div>
</div>
