<div class="p-4 flex space-x-6 text-sm relative">
  <div
    (click)="changeState()"
    class="flex bg-gray-100 hover:bg-ciliconorange group/allcategory p-2 space-x-2"
  >
    <button class="group-hover/allcategory:text-white w-[100px]">
      All Category
    </button>
    <img
      class="group-hover/allcategory:invert"
      src="./../../../assets/icons/downarrow.svg"
      alt="arrow down image"
    />
  </div>
  <div class="flex text-gray-600 space-x-2 items-center">
    <img src="./../../../assets/icons/map.svg" alt="map icon" />
    <p>Track Order</p>
  </div>
  <div class="flex text-gray-600 space-x-2 items-center">
    <img src="./../../../assets/icons/compareicon.svg" alt="map icon" />
    <p>Compare</p>
  </div>
  <div class="flex text-gray-600 space-x-2 items-center">
    <img src="./../../../assets/icons/headphone.svg" alt="map icon" />
    <p>Customer Support</p>
  </div>
  <div class="flex text-gray-600 space-x-2 items-center">
    <img src="./../../../assets/icons/info.svg" alt="map icon" />
    <p>Need Help</p>
  </div>

  <div *ngIf="isAllCategoryOpen" class="absolute top-20 left-0 shadow-lg">
    <div class="bg-white space-y-6 text-xs p-6 text-gray-600">
      <p>Computer & Laptop</p>
      <p>Accessories</p>
      <p>Smartphone</p>
      <p>Headphone</p>
      <p>Mobile Accessories</p>
      <p>Camera</p>
    </div>
  </div>
</div>
