<div class="bg-[#191C1F] p-4">
  <div class="lg:w-[1200px] flex justify-between m-auto">
    <img class="w-24" src="./../../assets/icons/blackfriday.svg" />
    <img class="w-24" src="./../../assets/icons/59off.svg" />
    <img class="w-24" src="./../../assets/icons/shop now.svg" />
  </div>
</div>
<div class="bg-[#1B6392] p-6">
  <div class="lg:w-[1200px] flex m-auto items-center justify-between">
    <img
      src="./../../assets/logo.svg"
      class="invert w-24 cursor-pointer"
      routerLink="/home"
      routerLinkActive="active"
    />
    <!-- SEARCH BAR  -->
    <div class="h-8 p-2 bg-white hidden md:flex">
      <input class="outline-none w-[320px] text-black" />
      <img class="w-6 hidden md:flex" src="./../../assets/icons/search.svg" />
    </div>
    <div class="flex space-x-4 relative">
      <p-toast />

      <div (click)="goToCart()" class="relative cursor-pointer">
        <i
          class="pi pi-shopping-cart"
          [style]="{ 'font-size': '1.25rem', color: 'white' }"
        ></i>
        <div
          *ngIf="numberofCartItems >= 1"
          class="bg-ciliconorange flex justify-center items-center absolute w-6 h-6 -bottom-4 -right-3 px-1.5 py-0.5 rounded-full"
        >
          <p class="text-white rounded-full text-sm">
            {{ numberofCartItems }}
          </p>
        </div>
      </div>
      <div class="relative cursor-pointer">
        <i
          (click)="gotoWishList()"
          class="pi pi-heart"
          [style]="{ 'font-size': '1.25rem', color: 'white' }"
        ></i>

        <div
          *ngIf="numberof_WishListedItems >= 1"
          class="bg-ciliconorange flex justify-center items-center absolute w-6 h-6 -bottom-4 -right-3 px-1.5 py-0.5 rounded-full"
        >
          <p class="text-white rounded-full text-sm">
            {{ numberof_WishListedItems }}
          </p>
        </div>
      </div>

      <div (click)="goToDashboard()">
        <i
          class="pi pi-user"
          [style]="{ 'font-size': '1.25rem', color: 'white' }"
        ></i>
        <!-- <img class="w-6" src="./../../assets/icons/user.svg" /> -->
      </div>
      <div>
        <i
          [routerLink]="['/auth']"
          class="pi pi-sign-in"
          [style]="{ 'font-size': '1.25rem', color: 'white' }"
        ></i>
      </div>
      <button type="button">
        <img
          class="w-6 invert md:hidden"
          (click)="changeState()"
          src="./../../assets/icons/search.svg"
        />
      </button>

      <!-- LOGIN FORM MODAL -->
      <!-- <div
        *ngIf="loginModal"
        class="absolute -left-0 md:-left-1/2 top-14 -translate-x-1/2 bg-white shadow-2xl shadow-black w-[300px] p-4 rounded-lg space-y-4 z-10"
      >
        <h5 class="font-semibold text-center">Sign in to your account</h5>
        <form class="space-y-4">
          <div>
            <label class="text-[12px]">Email Address</label>
            <input type="email" class="border outline-none w-full h-10" />
          </div>
          <div>
            <label class="text-[12px]">Password</label>
            <input type="password" class="border outline-none w-full h-10" />
          </div>
          <button
            class="w-full bg-ciliconorange p-2 text-white uppercase text-sm"
          >
            login
          </button>
        </form>
        <div class="flex items-center">
          <div class="w-full border-1 h-[0.5px] bg-gray-200"></div>
          <p class="text-[8px] text-center w-full text-gray-400">
            Don't have account
          </p>
          <div class="w-full border-1 h-[0.5px] bg-gray-200"></div>
        </div>
        <button
          class="uppercase text-center font-semibold text-[10px] text-ciliconorange border p-2 flex items-center justify-center w-full border-ciliconorange border-opacity-45"
        >
          create account
        </button>
      </div> -->
      <!-- /// LOGIN FORM MODAL -->
    </div>
  </div>
</div>
<div *ngIf="modalState">
  <app-search-modal></app-search-modal>
</div>
<div class="border-b">
  <app-bottom-nav
    class="hidden md:flex lg:w-[1200px] m-auto justify-start"
  ></app-bottom-nav>
</div>
