<div class="border">
  <!-- header -->
  <div class="p-4 border-b flex justify-between">
    <h3 class="uppercase text-gray-900 font-medium">Recent Order</h3>
    <div class="text-[#FA8232] text-sm space-x-2 flex items-center">
      <span>View All</span>
      <i class="pi pi-arrow-right"></i>
    </div>
  </div>

  <div class="hidden lg:flex">
    <table class="table-auto w-full">
      <thead class="w-full bg-gray-50 text-xs uppercase text-gray-700">
        <tr class="">
          <th class="text-start p-4 font-medium">Order id</th>
          <th class="text-start p-4 font-medium">Status</th>
          <th class="text-start p-4 font-medium">Date</th>
          <th class="text-start p-4 font-medium">Total</th>
          <th class="text-start p-4 font-medium">Action</th>
        </tr>
      </thead>
      <tbody class="">
        <tr class="text-sm font-medium hover:bg-gray-50 border-b">
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4 uppercase text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
      <tbody class="">
        <tr class="text-sm font-medium hover:bg-gray-50 border-b">
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4 uppercase text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
      <tbody class="">
        <tr class="text-sm font-medium hover:bg-gray-50 border-b">
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4 uppercase text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
      <tbody class="">
        <tr class="text-sm font-medium hover:bg-gray-50 border-b">
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4 uppercase text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
      <tbody class="">
        <tr class="text-sm font-medium hover:bg-gray-50 border-b">
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4 uppercase text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
      <tbody class="">
        <tr class="text-sm font-medium hover:bg-gray-50 border-b">
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4 uppercase text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
      <tbody class="">
        <tr class="text-sm font-medium hover:bg-gray-50 border-b">
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4 uppercase text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4"><ngx-skeleton-loader></ngx-skeleton-loader></td>
          <td class="p-4">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- mobile table  -->
  <div class="lg:hidden">
    <table class="table-auto">
      <thead class="">
        <tr class="w-[320px] overflow-x-scroll flex scrollbar-hide">
          <th class="uppercase text-sm font-normal text-gray-600 p-2">
            Order Id
          </th>
          <th class="uppercase text-sm font-normal text-gray-600 p-2">
            Status
          </th>
          <th class="uppercase text-sm font-normal text-gray-600 p-2">date</th>
          <th class="uppercase text-sm font-normal text-gray-600 p-2">Total</th>
          <th class="uppercase text-sm font-normal text-gray-600 p-2">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="w-[320px] overflow-x-scroll flex scrollbar-hide">
          <td class="uppercase text-sm p-2">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="uppercase text-sm p-2 text-ciliconorange">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-2 text-sm">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-2 text-sm">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
          <td class="p-2 text-sm flex space-x-2">
            <a href=" " target="_blank">Print Receipt</a
            ><span><i class="pi pi-arrow-right text-sm"></i></span>
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
