<main class="p-4 md:p-0 md:w-[800px] lg:w-[1200px] m-auto md:my-6">
  <table class="table-auto">
    <thead class="">
      <tr class="border">
        <th class="w-[282px] h-[530px] p-8">
          <div>
            <i class="pi pi-times-circle text-gray-500"></i>
          </div>
          <div>
            <img
              src="../../assets/images/macbook.png"
              class="w-[272px] h-[272px] object-contain"
              width="272"
              height="272"
            />
          </div>
          <p class="text-[16px] font-medium text-left">
            Gamdias ARES M2 Gaming Keyboard, Mouse and Mouse Mat Combo
          </p>
          <div
            class="w-[212px] h-[50px] bg-ciliconorange text-white rounded-lg flex space-x-4 items-center justify-center font-medium"
          >
            <button class="uppercase text-sm">Add to cart</button>
            <i class="pi pi-shopping-cart"></i>
          </div>
        </th>
        <th class="w-[382px] h-[530px]">product 2</th>
        <th class="w-[382px] h-[530px]">product 3</th>
        <th class="w-[382px] h-[530px]">product 5</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border">
        <td class="">pdfd</td>
        <td>pdfd</td>
        <td>pdfd</td>
        <td>pdfd</td>
      </tr>
    </tbody>
  </table>
</main>
