<main class="p-4 md:p-0 md:w-[800px] lg:w-[1200px] m-auto md:my-6">
  <div class="flex flex-col h-[800px] space-y-6 py-6">
    <!-- Header -->
    <div class="flex justify-center items-center space-x-4">
      <i
        class="pi pi-microchip-ai text-ciliconorange"
        style="font-size: 40px"
      ></i>
      <h1 class="bg-white text-2xl text-center font-semibold">
        MeanCommerce AI Assistant
      </h1>
    </div>

    <section id="chat" class="space-y-4 pt-10">
      <div *ngFor="let chat of conversation">
        <div
          class=""
          [ngClass]="{
            'flex justify-start': chat.role == 'system',
            'flex justify-end': chat.role == 'user'
          }"
        >
          <p
            class="p-4 rounded-xl shadow-sm max-w-lg"
            [ngClass]="{
              'bg-gray-100   text-sm text-gray-900 ': chat.role == 'system',
              'bg-[#242424] text-white   text-sm ': chat.role == 'user'
            }"
          >
            {{ chat.message }}
          </p>
        </div>
      </div>
    </section>

    <!-- Chat History -->

    <!-- Input Area -->
    <div class="relative">
      <textarea
        [(ngModel)]="user_query"
        class="p-4 shadow-xl w-full rounded-lg h-[150px] focus:border-ciliconorange focus:outline-none bg-gray-50"
        placeholder="Message Assitant"
      ></textarea>
      <div
        class="bg-[#242424] cursor-pointer flex w-10 h-10 absolute bottom-4 right-4 rounded-full justify-center items-center"
      >
        @if (user_query.length>0) {
        <button (click)="send_query()">
          <i class="pi pi-arrow-up text-white text-xl"></i>
        </button>

        } @else {<button>
          <i class="pi pi-align-center text-white text-xl rotate-90"></i>
        </button>

        }
      </div>
    </div>
  </div>
</main>
