<div
  class="w-[176px] md:w-[200px] p-2 lg:m-1 space-y-3 lg:w-[210px] h-[320px] border flex flex-col items-start justify-center"
>
  <img
    src="{{ product.images[0] }}"
    class="w-[182px] h-[162px] object-contain"
  />
  <div class="flex items-center space-x-1">
    <div class="flex">
      <img src="../../../assets/icons/star.svg" />
      <img src="../../../assets/icons/star.svg" />
      <img src="../../../assets/icons/star.svg" />
      <img src="../../../assets/icons/star.svg" />
    </div>
    <p class="text-[10px] text-gray-400">(738)</p>
  </div>
  <p class="text-sm line-clamp-2">
    {{ product.name }}
  </p>
  <p class="font-semibold text-ciliconPriceBlue">${{ product.price }}</p>
</div>
