<div
  (mouseenter)="hovering()"
  (mouseleave)="notHovering()"
  class="w-[170px] md:w-[200px] lg:w-[300px] h-[296px] border p-2 md:p-4 flex flex-col items-center space-y-2"
>
  <div class="relative w-[full] flex justify-center items-center">
    @if (product.images) {

    <img src="{{ product!.images }}" class="h-[188px] object-contain" />
    }
    <div
      *ngIf="isHoveringProduct == true"
      class="hidden lg:flex bg-gray-400 opacity-80 absolute top-0 left-0 w-full h-full"
    >
      <div
        class="absolute top-1/2 left-1/2 flex -translate-x-1/2 -translate-y-1/2 space-x-2"
      >
        <div
          (click)="addToWishlist(product)"
          class="hover:bg-ciliconorange cursor-pointer group/hovericons bg-white rounded-full w-[40px] h-[40px] p-2 flex justify-center items-center"
        >
          <img
            src="../../../assets/icons/love.svg"
            class="invert group-hover/hovericons:invert-0"
          />
        </div>

        <div
          (click)="addToCart(product)"
          class="hover:bg-ciliconorange cursor-pointer group/hovericons bg-white rounded-full w-[40px] h-[40px] p-2 flex justify-center items-center"
        >
          <img
            src="../../../assets/icons/cart.svg"
            class="invert group-hover/hovericons:invert-0"
          />
        </div>
        <div
          class="hover:bg-ciliconorange cursor-pointer group/hovericons bg-white rounded-full w-[40px] h-[40px] p-2 flex justify-center items-center"
        >
          <img
            (click)="enableQuickView()"
            src="../../../assets/icons/eye.svg"
            class="group-hover/hovericons:invert"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="space-y-3">
    <p class="text-sm line-clamp-2">
      {{ product.name }}
    </p>
    <p class="text-ciliconPriceBlue font-semibold text-sm">
      ${{ product.price }}
    </p>
  </div>
</div>
<p-toast />
