<div
  class="w-[90%] md:w-[800px] lg:w-[1200px] m-auto mt-4 space-y-4 md:space-y-0 md:flex md:space-x-4"
>
  <div
    class="bg-gray-100 h-[400px] space-y-4 md:space-y-0 flex flex-col lg:flex-row items-center justify-center p-8"
  >
    <div class="space-y-2">
      <p class="text-xs uppercase text-[#2484C2]">the best place to play</p>
      <p class="text-2xl font-semibold">Xbox Consoles</p>
      <p class="text-xs lg:text-base">
        Save up to 50% on select Xbox games. Get # months of PC Game Pass for $2
        USD
      </p>
      <button class="bg-ciliconorange text-white p-2 px-4 text-xs">
        SHOP NOW
      </button>
    </div>
    <div>
      <img
        src="./../../../assets/images/xbox.svg"
        class="w-[200px] lg:w-auto"
      />
    </div>

    <!-- xbox -->
  </div>

  <div class="space-y-2 lg:space-y-1">
    <!-- PIXEL -->
    <div class="bg-gray-900 flex rounded-lg md:h-[198px]">
      <!-- pixel -->
      <div class="p-6 space-y-2">
        <p class="text-orange-300 text-sm">SUMMER SALES</p>
        <p class="text-white text-lg">New Google Pixel 6 Pro</p>
        <button class="bg-ciliconorange p-2 px-4 text-xs text-white">
          SHOP NOW
        </button>
      </div>
      <div class="flex">
        <img src="../../../assets/images/pixel.svg" />
      </div>
    </div>
    <!-- XIAOMI -->
    <div class="bg-gray-100 rounded-lg p-6 flex md:h-[198px]">
      <div>
        <img src="./../../../assets/images/buds.svg" />
      </div>
      <div class="space-y-2">
        <p class="text-lg font-semibold">Xiaomi FlipBuds Pro</p>
        <p class="text-blue-400">$299 USD</p>
        <button class="bg-ciliconorange p-2 px-4 text-xs text-white">
          SHOP NOW
        </button>
      </div>
    </div>
  </div>
</div>
