<div class="p-4 lg:p-0">
  <!-- shopping card -->

  <div class="hidden md:flex">
    <table class="table-auto w-full">
      <thead class="border">
        <tr class="bg-gray-50 text-sm w-full">
          <th class="text-gray-700 font-normal p-2">Products</th>
          <th class="text-gray-700 font-normal">Price</th>
          <th class="text-gray-700 font-normal">Quantity</th>
          <th class="text-gray-700 font-normal">Sub-Total</th>
        </tr>
      </thead>
      <tbody class="">
        <tr class="">
          <td class="text-center text-sm flex items-center space-x-2">
            <button
              class="hover:border-red-500 text-sm hover:text-red-500 cursor-pointer border-2 px-2 py-0.5 rounded-full text-gray-400 border-gray-400 font-semibold"
            >
              x
            </button>
            <img
              ngSrc="../../assets/images/macbook.png"
              width="72"
              height="72"
            />
            <p>4k led ud smart tv with chromecast</p>
          </td>
          <td class="text-center text-sm">$4000</td>
          <td class="text-center text-sm">44</td>
          <td class="text-center text-sm">$555</td>
        </tr>
        <tr class="">
          <td>4k led scsreends fdsa fdasf dsaf dsa fdsaf sadf sa</td>
          <td>$4000</td>
          <td>44</td>
          <td>$555</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- mobileshopping card -->

  <app-mobile-shopping-cart-item
    *ngFor="let item of cartItems"
    [product]="item"
  ></app-mobile-shopping-cart-item>
  <!-- card totals -->
  <div class="md:w-[300px] border p-4 space-y-4 shadow-sm rounded-lg">
    <h3 class="font-medium text-lg">Card Totals</h3>
    <div class="space-y-2">
      <div class="flex justify-between items-center">
        <p class="text-gray-600 text-sm">Sub-Total</p>
        <span class="text-sm text-gray-900">$320</span>
      </div>
      <div class="flex justify-between items-center">
        <p class="text-gray-600 text-sm">Shipping</p>
        <span class="text-sm text-gray-900">$320</span>
      </div>
      <div class="flex justify-between items-center">
        <p class="text-gray-600 text-sm">Discount</p>
        <span class="text-sm text-gray-900">$320</span>
      </div>
      <div class="flex justify-between items-center">
        <p class="text-gray-600 text-sm">Tax</p>
        <span class="text-sm text-gray-900">$61.99</span>
      </div>
    </div>
    <!-- divider line -->
    <div class="h-[1px] w-full bg-gray-100"></div>
    <!-- total -->
    <div class="flex justify-between font-medium">
      <p>Total</p>
      <span>$357.99 AUD</span>
    </div>

    <!-- proceed to checkout  -->
    <button class="p-2 uppercase bg-ciliconorange text-white text-lg w-full">
      Proceed to checkout
    </button>
  </div>
</div>
