<div class="mt-4 p-2">
  <!--  -->
  <div class="flex space-x-4">
    <div class="flex items-center space-x-2 p-2">
      <img src="../../../assets/icons/package.svg" class="w-10" />
      <div>
        <p class="uppercase text-sm font-medium">Fast Delivery</p>
        <p class="text-gray-600 text-xs">Delivery in 24/H</p>
      </div>
    </div>
    <div class="flex items-center space-x-2 p-2">
      <img src="../../../assets/icons/champion.svg" class="w-10" />
      <div>
        <p class="uppercase text-sm font-medium">24 Hours Return</p>
        <p class="text-gray-600 text-xs">100% money-back guarantee</p>
      </div>
    </div>
  </div>
  <div></div>
</div>
