<div
  class="bg-[#FFE7D6] lg:h-[300px] md:flex-row p-4 md:p-6 md:space-x-4 space-y-4 md:space-y-0 flex flex-col lg:justify-center lg:space-x-10 items-center"
>
  <div class="space-y-4">
    <p class="uppercase text-white bg-ciliconPriceBlue w-fit p-2 text-sm">
      Save upto $200
    </p>
    <p class="text-2xl lg:text-3xl font-semibold">Macbook Pro</p>
    <p class="text-gray-500">
      Apple M1 Max Chip. 32GB Unified Memory, 1TB SSD Storage
    </p>
    <button class="bg-ciliconorange flex text-white p-2 items-center">
      Shop now <span><img src="../../../assets/icons/rightarrow.svg" /></span>
    </button>
  </div>
  <div class="p-4 md:p-6">
    <img src="../../../assets/images/macbook.png" class="lg:h-[280px]" />
  </div>
</div>
