<div class="bg-[#1B6392] p-4 md:py-[72px]">
  <div class="flex flex-col items-center space-y-4 md:w-[50%] md:m-auto">
    <h4 class="text-white text-xl lg:text-2xl font-semibold">
      Subscribe to our newsletter
    </h4>
    <p class="text-xs lg:text-base text-white opacity-50 text-center">
      Praesent fringilla erat a lacinia egestas. Donec vehicula tempor libero et
      cursus. Donec non quam urna. Quisque vitae porta ipsum.
    </p>
    <div class="bg-white p-2 px-4 flex rounded-lg lg:w-[60%] justify-between">
      <input placeholder="Email Address" class="text-sm outline-none" />
      <button
        class="p-2 text-center uppercase bg-ciliconorange text-sm text-white rounded-lg"
      >
        Subscribe
      </button>
    </div>
    <div class="flex justify-center items-center space-x-4 flex-wrap">
      <img
        src="../../../assets/images/Google.png"
        class="w-[72px] opacity-70"
      />
      <img
        src="../../../assets/images/amazon.png"
        class="w-[72px] opacity-70"
      />
      <img
        src="../../../assets/images/philips.png"
        class="w-[72px] opacity-70"
      />
      <img
        src="../../../assets/images/Samsung.png"
        class="w-[72px] opacity-70"
      />
    </div>
  </div>
</div>
