<div class="w-[264px]">
  <div class="card flex justify-content-center">
    <p-sidebar
      [(visible)]="sidebarVisible"
      position="right"
      class="bg-blue-300"
    >
      <div
        class="flex items-center space-x-4 hover:bg-ciliconorange hover:text-white p-2"
      >
        <i class="pi pi-bars"></i>
        <span> Dashboard </span>
      </div>
      <div
        class="flex items-center space-x-4 hover:bg-ciliconorange hover:text-white p-2"
      >
        <i class="pi pi-shop"></i>
        <span> Order History </span>
      </div>
      <div
        class="flex items-center space-x-4 hover:bg-ciliconorange hover:text-white p-2"
      >
        <i class="pi pi-map-marker"></i>
        <span> Track Order </span>
      </div>
      <div
        class="flex items-center space-x-4 hover:bg-ciliconorange hover:text-white p-2"
      >
        <i class="pi pi-shopping-cart"></i>
        <span> Shopping Cart </span>
      </div>
      <div
        class="flex items-center space-x-4 hover:bg-ciliconorange hover:text-white p-2"
      >
        <i class="pi pi-heart"></i>
        <span> Wishlist </span>
      </div>

      <div
        class="flex items-center space-x-4 hover:bg-ciliconorange hover:text-white p-2"
      >
        <i class="pi pi-sign-out"></i>
        <span> Logout </span>
      </div>
    </p-sidebar>
  </div>
</div>
