<div class="bg-black h-[100vh] bg-opacity-80 flex justify-center items-center">
  <div
    *ngIf="product"
    @enterAndLeave
    class="w-[1200px] m-auto bg-white h-[600px] p-6 flex space-x-6"
  >
    <!-- PRODUCT IMAGES -->
    <div class="w-1/2">
      <div class="border p-6 flex items-center justify-center">
        <img
          src="{{ mainProductImage || product.images[0] }}"
          class="h-[400px] object-contain"
        />
      </div>
      <div class="flex flex-row space-x-2">
        <div *ngFor="let image of product.images">
          <div
            (click)="changeMainImage(image)"
            class="w-[96px] h-[96px] active:border-ciliconorange border p-2 flex items-center justify-center"
          >
            <img
              ngSrc="{{ image }}"
              width="96"
              height="96"
              class="object-contain w-[94px] h-[94px]"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- PRODUCT DESCRIPTIONn -->
    <div class="w-1/2 space-y-4">
      <div class="flex justify-between">
        <div class="flex space-x-2 items-center">
          <div class="flex">
            <img src="../../../assets/icons/star.svg" />
            <img src="../../../assets/icons/star.svg" />
            <img src="../../../assets/icons/star.svg" />
            <img src="../../../assets/icons/star.svg" />
          </div>
          <p class="text-sm font-semibold">
            <span>{{ product.rating }}</span
            >Star Rating
          </p>
        </div>
        <button class="text-xl" (click)="closeQuickView()">X</button>
      </div>
      <!-- product title -->
      <p class="text-xl font-medium line-clamp-2">
        {{ product.name }}
      </p>
      <!-- product manufacturer details -->
      <div class="w-[80%] space-y-2 text-xs">
        <div class="flex justify-between">
          <p class="text-gray-500">
            Sku: <span class="font-semibold text-black">{{ product.sku }}</span>
          </p>
          <p class="text-gray-500">
            Stock:
            <span class="font-semibold text-black">{{ product.stock }}</span>
          </p>
        </div>
        <div class="flex justify-between">
          <p class="text-gray-500">
            Brand:
            <span class="font-semibold text-black">{{ product.brand }}</span>
          </p>
          <p class="text-gray-500">
            Category:
            <span class="font-semibold text-black">{{ product.category }}</span>
          </p>
        </div>
      </div>
      <!-- price -->
      <div class="flex space-x-3 items-center">
        <p class="text-[#2DA5F3] font-semibold text-[24px]">
          ${{ product.price }}
        </p>
        <p class="line-through text-gray-500 text-xl">
          ${{ (product.price * 5) / 4 }}
        </p>
        <div class="bg-[#EFD33D] p-2 font-semibold">20% OFF</div>
      </div>
      <!-- divider line -->
      <div class="w-full h-[1px] bg-gray-200"></div>
      <!-- product description -->

      <p class="text-sm text-gray-500 line-clamp-6">
        {{ product.description }}
      </p>

      <!-- add to cart section -->
      <div class="flex space-x-2">
        <div
          *ngIf="addedtoCart"
          (click)="gotoCart()"
          class="w-full bg-ciliconorange cursor-pointer flex text-white items-center justify-center p-2 uppercase space-x-3 font-semibold"
        >
          <span>Go to Cart</span>
          <img src="../../../assets/icons/cart.svg" class="w-6" />
        </div>
        <div
          *ngIf="!addedtoCart"
          (click)="addtoCart(product)"
          class="w-full bg-ciliconorange cursor-pointer flex text-white items-center justify-center p-2 uppercase space-x-3 font-semibold"
        >
          <span>Add to cart</span>
          <img src="../../../assets/icons/cart.svg" class="w-6" />
        </div>
      </div>
      <!-- add to wishlist -->
      <div class="flex justify-between w-full">
        <div class="flex space-x-2">
          <div
            class="flex cursor-pointer text-sm items-center space-x-1 text-gray-500"
          >
            @if (!addtoFav) {
            <i
              class="pi pi-heart"
              style="font-size: 1rem"
              (click)="add_to_Wishlist(product)"
            ></i>
            } @else {

            <i
              class="pi pi-heart-fill"
              style="font-size: 1rem"
              style="color: #fa8232"
              (click)="remove_from_wishList(product)"
            ></i>
            }
            <p>Add to wishlist</p>
          </div>
          <div
            (click)="addtoCompare(product)"
            class="flex items-center space-x-1 text-sm cursor-pointer text-gray-500"
          >
            <span class="material-symbols-outlined"> autorenew </span>
            <p>Add to Compare</p>
          </div>
        </div>
        <div class="text-sm flex text-gray-500 items-center space-x-2">
          <p class="">Share Product:</p>
          <img src="../../../assets/icons/copyicon.svg" />
          <img src="../../../assets/icons/facebook.svg" />
          <img src="../../../assets/icons/twitter.svg" />
          <img src="../../../assets/icons/pinterest.svg" />
        </div>
      </div>

      <!-- checkout options -->
      <div class="border w-full p-4 space-y-2">
        <p class="text-gray-500 text-[12px]">100% Gaurantee Safe Checkout</p>
        <img src="../../../assets/images/credit-cards.png" class="w-[260px]" />
      </div>
    </div>
  </div>
</div>

<p-toast />
