<main *ngIf="user$ | async; let current_user" class="space-y-4">
  <!-- heading -->
  <section id="heading" class="space-y-2">
    <h3 class="text-gray-900 text-2xl font-semibold">
      Hello, {{ current_user.user_name }}
    </h3>
    <p class="text-gray-700 text-sm">
      From your account dashboard. you can easily check & view your Recent
      Orders, manage your Shipping and Billing Addresses and edit your Password
      and Account Details.
    </p>
  </section>

  <!-- top section -->
  <!--  -->

  <section
    id="top content"
    class="md:flex-row md:flex-wrap flex flex-col space-y-4 md:space-y-0 md:gap-6 lg:justify-between lg:gap-0"
  >
    <app-account-info-card [user]="current_user"></app-account-info-card>
    <app-billing-address-card [user]="current_user"></app-billing-address-card>
    <app-fun-fact-cards></app-fun-fact-cards>
  </section>

  <!-- payment option -->
  <section id=" payment option">
    <app-payment-option [user]="current_user"></app-payment-option>
  </section>

  <!-- recent order -->
  <section id="recent order">
    <app-recent-order></app-recent-order>
  </section>
</main>

<!-- loaddingggg -->
<div #loading>
  <app-main-loading></app-main-loading>
</div>
