<div class="p-4 md:p-0">
  <div class="bg-[#ffffff] p-4 space-y-4 flex flex-col items-center">
    <!-- APPLE HOMEPOD -->
    <div class="space-y-4">
      <p class="uppercase text-white bg-ciliconPriceBlue w-fit p-2 text-sm">
        Introducing
      </p>
      <p class="text-2xl lg:text-3xl font-semibold">New Appple Homepod Mini</p>
      <p class="text-gray-500">
        Jam-packed with innovation HomePod min delivers unexpectedly
      </p>
      <button class="bg-ciliconorange flex text-white p-2">
        Shop now <span><img src="../../../assets/icons/rightarrow.svg" /></span>
      </button>
    </div>
    <div>
      <img src="../../../assets/images/homepod.svg" />
    </div>
  </div>

  <div class="bg-gray-900">
    <!-- xiomi banner -->
  </div>
</div>
