<div class="">
  <div
    routerLink="main"
    routerLinkActive="active"
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-bars"></i>
    <span> Dashboard </span>
  </div>
  <div
    routerLink="order-history"
    routerLinkActive="active"
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-shop"></i>
    <span> Order History </span>
  </div>
  <div
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-map-marker"></i>
    <span> Track Order </span>
  </div>
  <div
    routerLink="cart"
    routerLinkActive="active"
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-shopping-cart"></i>
    <span> Shopping Cart </span>
  </div>
  <div
    routerLink="wishlist"
    routerLinkActive="active"
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-heart"></i>
    <span> Wishlist </span>
  </div>
  <div
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-arrow-right-arrow-left"></i>
    <span> Compare </span>
  </div>
  <div
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-cog"></i>
    <span> Setting </span>
  </div>
  <div
    class="flex items-center cursor-pointer space-x-4 hover:bg-ciliconorange hover:text-white p-2"
  >
    <i class="pi pi-sign-out"></i>
    <span> Logout </span>
  </div>
</div>
