<form
  [formGroup]="signup_form"
  (ngSubmit)="user_signup()"
  class="p-6 border rounded-b-md space-y-4"
>
  <!-- name -->
  <div class="flex flex-col space-y-2 text-sm font-medium">
    <label class="text-gray-900">Name</label>
    <input
      required
      formControlName="user_name"
      type="text"
      class="outline-none border text-gray-500 p-2"
    />
  </div>

  <!-- email -->
  <div class="flex flex-col space-y-2 text-sm font-medium">
    <label class="text-gray-900">Email Address</label>
    <input
      required
      formControlName="email"
      type="email"
      class="outline-none border text-gray-500 p-2"
    />
  </div>

  <!-- profile image -->

  <div class="flex flex-col space-y-2 text-sm font-medium">
    <label class="text-gray-900">Upload Profile Image</label>
    <input
      required
      (change)="uploadImage($event)"
      type="file"
      class="outline-none border text-gray-500 p-2"
    />
  </div>

  <!-- password -->
  <div class="flex flex-col space-y-2 text-sm font-medium">
    <label class="text-gray-900">Password</label>
    <input
      required
      formControlName="password"
      type="password"
      class="outline-none border text-gray-500 p-2"
    />
  </div>

  <p>{{ signup_form.status }}</p>

  <!-- terms agrrement -->
  <div>
    <p class="text-sm font-normal">
      You are agreeing to Clicon
      <span class="text-ciliconPriceBlue">Terms of Condition</span> and
      <span class="text-ciliconPriceBlue">Privacy Policy.</span>
    </p>
  </div>
  <div class="flex justify-center">
    <button
      type="submit"
      [disabled]="signup_form.invalid"
      class="flex space-x-2 uppercase items-center p-2 bg-ciliconorange text-white w-full justify-center font-medium"
    >
      Sign up
    </button>
  </div>
  <!-- or line -->
  <div class="flex items-center space-x-1 text-gray-500 text-sm">
    <div class="h-0.5 w-full bg-gray-100"></div>
    <span>or</span>
    <div class="h-0.5 w-full bg-gray-100"></div>
  </div>
  <!-- google and apple signin -->
  <div
    class="w-full p-2 border cursor-pointer text-sm text-gray-700 flex items- font-normal justify-center space-x-4"
  >
    <i class="pi pi-google"></i>
    <span>Sign up with Google</span>
  </div>
  <div
    class="w-full p-2 border cursor-pointer text-sm text-gray-700 flex font-normal items-center justify-center space-x-4"
  >
    <i class="pi pi-apple"></i>
    <span>Sign up with Apple</span>
  </div>
</form>
