<div class="lg:w-[1200px] lg:m-auto space-y-10 p-4 lg:p-0 lg:space-y-20 py-6">
  <div class="lg:flex lg:justify-center lg:space-x-20">
    <section id="images" class="lg:w-full">
      <div class="">
        <ngx-skeleton-loader [theme]="{ height: '400px' }" />
      </div>
      <div class="flex space-x-2">
        <ngx-skeleton-loader [theme]="{ height: '96px', width: '96px' }" />
        <ngx-skeleton-loader [theme]="{ height: '96px', width: '96px' }" />
        <ngx-skeleton-loader [theme]="{ height: '96px', width: '96px' }" />
        <ngx-skeleton-loader [theme]="{ height: '96px', width: '96px' }" />
      </div>
    </section>

    <section id="product_information" class="space-y-4 lg:w-full mt-10">
      <div class="flex">
        <ngx-skeleton-loader [theme]="{ width: '100px' }" />
        <ngx-skeleton-loader [theme]="{ width: '100px' }" />
      </div>
      <ngx-skeleton-loader [theme]="{ height: '40px' }" />
      <ngx-skeleton-loader [theme]="{ height: '40px' }" />
      <div class="space-y-2">
        <div class="flex justify-between">
          <ngx-skeleton-loader [theme]="{ width: '100px' }" />
          <ngx-skeleton-loader [theme]="{ width: '100px' }" />
        </div>
        <div class="flex justify-between">
          <ngx-skeleton-loader [theme]="{ width: '100px' }" />
          <ngx-skeleton-loader [theme]="{ width: '100px' }" />
        </div>
        <div class="space-x-2">
          <ngx-skeleton-loader [theme]="{ width: '100px' }" />
          <ngx-skeleton-loader [theme]="{ width: '100px' }" />
        </div>
      </div>
      <div class="w-full h-[1px] bg-gray-200"></div>
      <div>
        <ngx-skeleton-loader [theme]="{ height: '10px' }" />
        <ngx-skeleton-loader [theme]="{ height: '10px' }" />
        <ngx-skeleton-loader [theme]="{ height: '10px' }" />
        <ngx-skeleton-loader [theme]="{ height: '10px' }" />
      </div>
      <div class="flex space-x-2 w-full">
        <ngx-skeleton-loader [theme]="{ height: '40px', width: '50px' }" />
        <ngx-skeleton-loader [theme]="{ height: '40px', width: '200px' }" />
        <ngx-skeleton-loader [theme]="{ height: '40px', width: '50px' }" />
      </div>
    </section>
  </div>
</div>
